## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
A = 10
print (A)

10

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
A = 8.5
print (type (A))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
A = 10
print (type(A))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
A = "Francisco Helder"
print (A)

Francisco Helder

5) Crear una constante que contenga el número Pi

In [6]:
import math
Pi = math.pi
print (Pi)

3.141592653589793

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [7]:
import math
Pi = math.pi
print (type(Pi))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [10]:
import math
Euler = round (math.e, 4)
print (Euler)

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [ ]:
A = "True"
B = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [16]:
A = "True"
B = True
print (type(A),type(B))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [7]:
A = 8
B = 8.5
V = A+B
print (V)

16.5

11) Realizar una operación de suma de un número definido como string con un entero

In [13]:
A = int ("20")
B = 8
V = A+B
print(V)

28

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [1]:
import math
A = math.e
B = round(math.pow(A, 3), 4)
print (B)

20.0855

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [ ]:
import math
A = float (input ("Ingrese número"))
B = float (input ("Ingrese otro número"))
V = A * B
print(V)

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [3]:
Cociente = float(27/4)
print (Cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [4]:
Cociente = (27//4)
print(Cociente)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [5]:
Resto = (27%4)
print (Resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [6]:
A = 6
B = 3
C = 4
V = A*C
print (V+B)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
A = "2"
B = 2
A == B
#Porque uno es de tipo string y el otro de tipo entero o int

False

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [9]:
A = int ("2")
B = 2
A == B

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#Porque tiene una coma, la cual no se reconoce, ya que el separador de float en phyton es el .

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
A = 10 + "10"
print(A)

IndentationError: unexpected indent (3139940955.py, line 3)

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [4]:
Menu = """
MENU 1 - PIZZA, 2 - EMPANADAS, 3 - MILANESAS, 4 - SALIR
"""
print(Menu)

MENU 1 - PIZZA, 2 - EMPANADAS, 3 - MILANESAS, 4 - SALIR

23) Crear una lista que contenga los números del 1 al 10

In [5]:
Lista = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
print(Lista)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [6]:
Lista = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
print(Lista[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [26]:
Lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Lista [2] = "Francisco"
print(Lista)

[1, 2, 'Francisco', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [13]:
Matriz = [["A","B","C"], ["D","E","F"], ["G","H","I"]]
print(Matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

27) Imprimir la matriz creada en el punto 26

In [19]:
Matriz = [["A","B","C"], ["D","E","F"], ["G","H","I"]]
print(Matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [22]:
Matriz = [["A","B","C"], ["D","E","F"], ["G","H","I"]]
Matriz[1][1] = "Z"
print(Matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [36]:
Matriz = [["A","B","C"], ["D","E","F"], ["G","H","I"]]
Matriz[0][0:3] = [1, 2, 3]
print(Matriz)

[[1, 2, 3], ['D', 'E', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [42]:
Ropa = ("Nike", "Adidas", "Levis", "Topper", "Under armour")
print (Ropa)

('Nike', 'Adidas', 'Levis', 'Topper', 'Under armour')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [44]:
Ropa = ("Nike", "Adidas", "Levis", "Topper", "Under armour")
print (Ropa[0])

Nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [45]:
#Las tuplas no se pueden modificar una vez creadas
Ropa = ("Nike", "Adidas", "Levis", "Topper", "Under armour")
Ropa [1] = "Gucci"

TypeError: 'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [49]:
Diccionario = {"Nombre":"Francisco","Apellido" :"Helder", "Edad":23, "Hobbies" : ["Jugar videojuegos", "Entrenar", "Comer"]}
print(Diccionario ["Nombre"])

Francisco

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [50]:
Diccionario = {"Nombre":"Francisco","Apellido" :"Helder", "Edad":23, "Hobbies" : ["Jugar videojuegos", "Entrenar", "Comer"]}
print(Diccionario ["Hobbies"])

['Jugar videojuegos', 'Entrenar', 'Comer']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [2]:
Diccionario = {"Nombre":"Francisco","Apellido" :"Helder", "Edad":23, "Hobbies" : ["Jugar videojuegos", "Entrenar", "Comer"]}
Diccionario ["Edad"] = 24
print(Diccionario["Edad"])

24